Source: xine-ui
Section: graphics
Priority: optional
Maintainer: Siggi Langauf <siggi@debian.org>
Build-Depends: debhelper (>> 4.0.0), libxine-dev (>= 1-rc3a-2), libpng-dev, xlibs-dev (>=4.1), aalib1-dev (>> 1.4), libgpmg1-dev (>> 1.19.6), liblircclient-dev, libcurl2-dev, libfreetype6-dev
Standards-Version: 3.2.1

Package: xine-ui
Architecture: any
Depends: ${shlibs:Depends}
Recommends: ${shlibs:Recommends}
Suggests: ${shlibs:Suggests}
Description: the xine video player, user interface 
 This is an X11 based GUI for the libxine video player library.
 It provides xine, a skin based media player that can play all the
 audio/video formats that libxine supports. Currently, this includes MPEG1/2,
 some AVI and Quicktime files, some network streaming methods and disc based
 media (VCD, SVCD, DVD). A more complete list can be found on
 http://xine.sf.net/.
 .
 This package contains an additional front end, aaxine, which runs even on the
 console. aaxine uses aalib to render ASCII art video, or you can tell it to
 use a framebuffer device. This is more a proof of concept, but you can use it
 to watch DVDs on your old vt100 terminal, of course. ;-)
 .
 Most DVDs on the market today are play-protected by the Content Scrambling
 System (CSS). Xine does not provide any code to descramble those DVDs,
 because of legal uncertainties. Have a look at
 /usr/share/doc/xine-ui/README.Debian for more information!

