#!/usr/bin/make -f
# based on Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -g
CONFIGURE_OPTIONS =
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
        CONFIGURE_OPTIONS += --enable-debug
endif
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif

# the "optimize" flag disables compatibility hacks
HOST_OPTION := 
ifeq (,$(findstring optimize,$(DEB_BUILD_OPTIONS)))
 $(warning trying to disable machine-specific optimizations)
 $(warning add 'optimize' to DEB_BUILD_OPTIONS to enable them)
 DEB_HOST_GNU_TYPE := \
  $(sehll echo $(DEB_HOST_GNU_TYPE)|sed -e 's/^alphaev56/alpha/')
 DEB_BUILD_GNU_TYPE := \
  $(shell echo $(DEB_BUILD_GNU_TYPE)|sed -e 's/^alphaev56/alpha/')
 #on intel architectures, xine probes CPU specific optimizations on runtime
 DEB_HOST_GNU_TYPE := \
  $(shell echo $(DEB_HOST_GNU_TYPE)|sed -e 's/^i.86/i686/')
 DEB_BUILD_GNU_TYPE := \
  $(shell echo $(DEB_BUILD_GNU_TYPE)|sed -e 's/^i.86/i686/')
 ifneq ($DEB_HOST_GNU_TYPE,$DEB_BUILD_GNU_TYPE)
  $(warning WARNING: cross compiling is not supported by xine)
  $(warning .        using DEB_BUILD_GNU_TYPE = $(DEB_BUILD_GNU_TYPE))
  $(warning .        ignoring DEB_HOST_GNU_TYPE = $(DEB_HOST_GNU_TYPE))
  DEB_HOST_GNU_TYPE := $(DEB_BUILD_GNU_TYPE)
 endif
 HOST_OPTION := --host=$(DEB_HOST_GNU_TYPE)
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	./autogen.sh \
		--prefix=/usr --mandir=\$${prefix}/share/man \
		--with-aalib \
		--enable-vdr-keys \
		$(CONFIGURE_OPTIONS) \
		CFLAGS="$(CFLAGS)" \
	            $(HOST_OPTION) || \
	(echo "=== config.log: ==="; cat config.log; false)
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

update_config_files:
	-test -r /usr/share/misc/config.sub && \
           cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
           cp -f /usr/share/misc/config.guess config.guess

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	# strange dangling symlinks  
	-find . -name Makefile.in -print | xargs rm
	rm -f doc/man/*/xine-bugreport.1 misc/xine-bugreport
	rm -f po/*.gmo src/xitk/xine-toolkit/po/*.gmo
	rm -f compile config.guess configure depcomp install-sh missing 
	rm -f misc/xine-check po/stamp-po src/xitk/xine-toolkit/po/stamp-po
	rm -f debian/xine-ui.postinst
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/xine-ui
	mkdir -p debian/xine-ui/usr/share/doc/xine-ui
	install -m 644 README debian/xine-ui/usr/share/doc/xine-ui
	mkdir -p debian/xine-ui/var/lib
	mv debian/xine-ui/usr/share/applications debian/xine-ui/var/lib/xine
	# these must not be compressed, or xine's online help will fail:
	-cd debian/xine-ui/usr/share/doc/xine-ui; \
	mkdir -p ../../xine/doc; \
	mv README.config_?? README_?? ../../xine/doc; \
	ln -s ../../xine/doc/* .

debian/xine-ui.postinst: debian/xine-ui.postinst.in debian/rules
	sed -e "s^@XINE_LIST@^`pkg-config --variable=xine_list libxine`^g; s^@XINE_MIME_EXTRA@^`awk '{ printf "%s;", $$1 }' < misc/desktops/mime.extra`^g" <$< >$@

binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install debian/xine-ui.postinst
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installmenu
	dh_installmime
	dh_installchangelogs -k ChangeLog
	dh_link
	dh_strip
	dh_compress
# kick me, I'm a policy violation! (making help dialog work, Q&D)
	gunzip debian/xine-ui/usr/share/doc/xine-ui/README.??.*.gz
	dh_fixperms
	dh_installdeb
#	dh_shlibdeps
	chmod +x debian/shlibdeps.sh
	debian/shlibdeps.sh xine-ui
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
